{% extends "layouts/auth.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container text-center">

    <div class="row justify-content-center align-content-center">

        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="card-title p-3">
                        <img src="{{url_for('static', filename='images/icon.png')}}" class="card-img-top img-fluid" alt="logo"
                        style="max-width: 200px; max-height: 200px;">
                    </div>
                    <h4 class="card-title text-uppercase mb-3">{{ title }}</h4>
                    <p class="card-text small text-muted">
                        Enter your email address below and we'll send you a link to reset your password.
                    </p>
                    <hr>

                    <section id="request_password_reset_form">
                        <form id="account" method="POST" novalidate>
                            {{ form.hidden_tag() }}
                            
                            <div class="form-floating mb-4">
                                {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                                {{ form.email.label(class="form-label") }}
                                {% for error in form.email.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                            </div>
                            <div class="from-group mb-3">
                                {{ form.submit }}
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>

    </div>
    
</div>

{% endblock%}