{% extends "shared/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<div class="container">

    <div class="card shadow-lg mt-4">
        <div class="card-header text-center align-content-center text-danger fw-bold">
            <i class="bi bi-columns-gap"></i>&nbsp;{{ title }} Form          
        </div>
        <form method="POST">
            <div class="card-body">
                <p class="text-center text-danger">
                    <strong>
                        You are about to Delete this Record, and you won't be able to recover it again!<br>
                        Are you sure you want to Delete?
                    </strong>
                </p>
                <hr>
                <section id="deleteForm" name="deleteForm" class="mb-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4 align-content-center">
                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.firstname }}
                                {{ form.firstname.label }}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.lastname }}
                                {{ form.lastname.label }}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.username }}
                                {{ form.username.label }}
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-4 align-content-center">
                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.phone }}
                                {{ form.phone.label }}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.email }}
                                {{ form.email.label }}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.role }}
                                {{ form.role.label }}
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 g-4 align-content-center">
                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.password }}
                                {{ form.password.label }}
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-floating mb-3">
                                {{ form.confirm_password }}
                                {{ form.confirm_password.label }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('user.index') }}" class="btn btn-secondary"><i class="bi bi-x-lg"></i>&nbsp;Cancel</a>
                {% if current_user.is_authenticated %}
                    &nbsp; <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i>&nbsp;Delete</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}