/* ----------------------------------------------------------------------------*/
/* General Page Setup Settings                                                 */
/*-----------------------------------------------------------------------------*/
/* Color Scheme */
/* #00526B */
/* #0CAEE3 */

/* Header Color */
/* Whitish: #D7E6E6 */
/* Bluish: #63DAFC */

/* Other Colors */
/* #D5D5D6 */

html {
    /* font-size: 24px; */
    position: relative;
    min-height: 100%;
    /* scroll-snap-type: y mandatory; */
  }
  
  @media (min-width: 768px) {
    /* html {
      font-size: 16px;
    } */
  }
  
  body {
    font-family: "Cantarell", sans-serif !important;
    margin-bottom: 60px;
    scroll-behavior: smooth;
    transition: transform 2s all ease;
    min-height: 100%;
  }
  
  .footer {
    /* position: fixed; */
    position: relative;
    color: #00526B;
    bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 60px;
    width: 100%;
    padding: 5px;
    background-color: #D7E6E6;
  }

  .block-button {
    display: block;
    width: 100%;
  }
  
  /*-----------General Page Settings Ends Here--------------------------------- */
  
  /*----------------------------------------------------------------------------*/
  /* Landing Page Setup Settings                                                */
  /*----------------------------------------------------------------------------*/
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  
  .headerSection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/tapwater.png);
    /* background-image: url(images/tapwater.png); */
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .productSection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/tapwall.png);
    /* background-color: #D7E6E6; */
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .whyusSection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D7E6E6;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pricingSection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/pricingbg.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .faqSection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/faq.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contactusSection {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/yellowtap.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    
  /*---------Landing Page Settings Ends Here--------------------------------- */
  