{% extends "shared/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<section id="contactSection" name="contactSection">
    <div class="contactSection">
        <div class="container justify-content-center align-content-center">
            <h1 class="display-1" style="color: #013278;">Contact Us:</h1>
            <h4><i class="bi bi-envelope-at"></i>&nbsp;: support@mtracker.com</h4>
            <h4><i class="bi bi-phone"></i>&nbsp;: +254700112233</h4>
        </div>
    </div>
</section>

<footer class="footer text-center">
    2025 &copy; MONEY TRACKER
</footer>

{% endblock %}