{% extends "shared/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<section id="headerSection" name="headerSection">
    <div class="headerSection">
        <div class="container justify-content-center align-content-center text-white">

          <h1 class="display-1" style="color: #013278;">Welcome to Money Tracker</h1>
          <h3 class="display-6 fst-italic text-dark mb-4">The SMART way to Track your Money!</h3>
          <h3 class="text fst-italic typewrite" style="color: #008ea2;" data-period="3000" data-type='["you only know what you track!"]'>
            <span class="wrap"></span>         
          </h3>
        </div>
    </div>
</section>

  <footer class="footer text-center">
      2025 &copy; MONEY TRACKER
  </footer>

{% endblock %}